.l-main {
  position: relative;

  &_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    width: 100%;
    padding-bottom: 120px;
  }
}

@include breakpoint(sp) {
  .l-main {
    padding: 0 20px;
    padding-bottom: 60px;
    &_inner {
    }
  }
}