.p-snsList {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 40px;
  &_item {
    display: block;
    margin: 0 15px;

    &_link {
      color: white;
      display: block;
      font-size: 22px;
    }
  }
}
