extends layout.pug
block slug
	- slug = 'home'
	//上書きしたい箇所があればブロックを呼び出して記述
block contents
	main.l-main
		.l-main_inner
			.p-postBlock
				a(href="https://movie-stocker.netlify.com/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange MovieStocker
					.p-postBlock_article_thumbnail
						img(src="/images/img.png", alt="MovieStocker")
					.p-postBlock_article_desc
						p お気入りの映画が登録できるアプリケーション、Nuxtとローカルストレージで構成されている。ホスティング先はNetlifyを使用している。
				a(href="https://takuyataniguchi.github.io/FLOCSS_slides/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange FLOCSS
					.p-postBlock_article_thumbnail
						img(src="/images/img2.png", alt="FLOCSS")
					.p-postBlock_article_desc
						p 社内用に作成したFLOCSSの発表資料。HTML、CSSの設計に関心があり、約1年間ほど使用したのでその感想と悩みどころをまとめた。FLOCSSで作成したデザインコンポーネント以外によく使うjsのライブラリ化やsassのmixinを作成し、現在でも継続して利用されています。(詳細はStaticDevelopの項目)
				a(href="http://wiki.littledemon.pw/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange wikirelay
					.p-postBlock_article_thumbnail
						img(src="/images/img6.png", alt="wikirelay")
					.p-postBlock_article_desc
						p ウィキペディアAPIを利用したゲームです。お題の単語まで辿ったリンク回数を競います。React、Firebase構成されています。(開発中)
				a(href="http://phpmysqltodo.littledemon.pw/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange Todo Mysql PHP Only
					.p-postBlock_article_thumbnail
						img(src="/images/img10.png", alt="TodoAppLaravel")
					.p-postBlock_article_desc
						p PHP,Mysqlのみで作成したTodoアプリです。Mysql、Httpリクエストについて勉強した過程で作成したものです。業務中では深く勉強できなかったネットワーククエストについて知識を深めした。
				a(href="http://laraveltodo.littledemon.pw/login" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange TodoAppLaravel
					.p-postBlock_article_thumbnail
						img(src="/images/img3.png", alt="TodoAppLaravel")
					.p-postBlock_article_desc
						p Laravelで作成したTodoアプリ。MVCフレームワークの勉強のために作成しました。そのほかにも多少ではありますが、Rails,Goの勉強もしています。
				a(href="https://qiita.com/RinT_T" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange Qiita
					.p-postBlock_article_thumbnail
						img(src="/images/img5.png", alt="Qiita")
					.p-postBlock_article_desc
						p ふと思いついたことや、書き留めて置きたい事をメモ代わりに投稿しています。
				a(href="https://codepen.io/Rin_T_T/pens/public" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange Codepen
					.p-postBlock_article_thumbnail
						img(src="/images/img9.png", alt="Codepen")
					.p-postBlock_article_desc
						p CSSアニメーションが好きなため、気になることはこまめに書き留めています。
				a(href="https://fullstackopen.com/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange Reat カリキュラム
					.p-postBlock_article_thumbnail
						img(src="/images/img11.jpg", alt="React")
					.p-postBlock_article_desc
						p ヘルシンキ大学が講座として公開している、Reactのカリキュラムを使って勉強しています。
				a(href="https://github.com/TakuyaTaniguchi/static--skeleton" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange StaticDevelop
					.p-postBlock_article_thumbnail
						img(src="/images/img8.png", alt="Codepen")
					.p-postBlock_article_desc
						p 静的コーディング開発環境　社内で共有しようしているものであり、scssの構成や一部webpackの調整に携わっています。