extends layout.pug
block slug
	- slug = 'home'
	//上書きしたい箇所があればブロックを呼び出して記述
block contents
	main.l-main
		.l-main_inner
			.p-postBlock
				a(href="https://www.nttdocomo.co.jp/special_contents/beyond2020/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange Beyond2020
					.p-postBlock_article_thumbnail
						img(src="/images/private1.png", alt="")
					.p-postBlock_article_desc
						p Vue.jsで作成しています。各下層コンテンツのポータルサイトになっており、下層サイトからxmlを作成し読み込んでいます。構築、運用、保守を担当しています。
				a(href="https://www.nttdocomo.co.jp/special_contents/beyond2020/future_report/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange FUTURE-REPORT
					.p-postBlock_article_thumbnail
						img(src="/images/private2.png", alt="")
					.p-postBlock_article_desc
						p DOCOMOのデジタルコンテンツを発信するサイト。ベースはWordpressで構成されており、そこから、静的環境で動作するようにファイルを書き出すPHPプラグインを自作して運用しています。作成したプラグインはページの構成、ルーティング、サイトマップなどを全てを静的に書き出すことを可能にしています。プラグインのカスタマイズ、構築、運用保守、ディレクションまで幅広く担当している。
				a(href="http://imatsui.com/seasonal_topics/post_153/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange イマツイ
					.p-postBlock_article_thumbnail
						img(src="/images/private3.png", alt="")
					.p-postBlock_article_desc
						p APIを使用し、Twitetrからのデータをグラフに表示するアプリケーション。秒間何十万というデータを取り扱いました。インフラの知識を活かしwebサーバのパフォーマンスの改善や、集計ロジックの改修などを担当しました。AWS,GCP,MT,Canvasなどを使用しております。
				a(href="https://www.hypertech.co.jp" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange Wordpress
					.p-postBlock_article_thumbnail
						img(src="/images/private4.jpg", alt="")
					.p-postBlock_article_desc
						p Wordpressで構築されているサイトです。リンクのサイトは主に静的コーディングを担当しました。そのほかにも20件ほどのwebサイトの構築、運用保守に関わっています。
				a(href="https://www.on-the-slope.com/" target="_blank").p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange 坂の途中
					.p-postBlock_article_thumbnail
						img(src="/images/private6.jpg", alt="")
					.p-postBlock_article_desc
						p WordpressサイトとECサイトの両方の静的コーディングを担当。高いデザイン再現性の要望があり、かつデザインパーツが多岐に渡っため、コンポーネントを一覧できるページを作成し、どのエンジニアでも簡単に作成できるような環境を作成しました。
				.p-postBlock_article.u-postBlockNeon.-is-orange
					.p-postBlock_article_title.u-postBlockNeon_title.-is-orange LP
					.p-postBlock_article_thumbnail
						img(src="/images/private5.jpg", alt="LP")
					.p-postBlock_article_desc
						p おおよそ二日程度で製作している、LPサイトになります。月4本程度リリースし、おおよそ一年程度開発に携わりました。また作業効率を上げるため、FLOCSSの導入や、デザインコンポーネントの設計などを行いました。退職後の現在も当時のデザインコンポーネントが運用されています。
						ul
							li
								a.p-postBlock_article_desc_link(href="http://www.sousou.co.jp/other/lecoq/2019/sp/" target="_blank") SOU・SOU lecoq ->
							li
								a.p-postBlock_article_desc_link(href="https://www.sousou.co.jp/other/2019a/" target="_blank") SOU・SOU 秋 ->
							li
								a.p-postBlock_article_desc_link(href="https://www.sousou.co.jp/other/gyou/2019a/" target="_blank") SOU・SOU GYO ->
